$primary: darken(#fd2d01, 10%);
$secondary: #ffd7d7;
$tertiary: #4e5166;
$shadow: 0.25rem 0.75rem 1.25rem rgb(black, 0.19), 0 0.25rem 0.5rem rgb(black, 0.23);
$useGap: 0.5rem;
$usePadding: 0.5rem;
$bp-md: 576px;
